<form [formGroup]="proudctForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <mat-card>
      <h3 class="box">add new product</h3>
      <mat-form-field class="controls">
        <input matInput type="text" name="name" placeholder="name" [formControl]="proudctForm.get('name')" />
      </mat-form-field>
      <mat-form-field class="controls">
        <input matInput type="text" name="description" placeholder="description"
          [formControl]="proudctForm.get('description')" />
      </mat-form-field>
      <mat-form-field class="controls">
        <input matInput type="number" name="price" min="0" placeholder="price"
          [formControl]="proudctForm.get('price')" />
      </mat-form-field>
      <mat-form-field class="controls">
        <input matInput type="text" name="catogry" placeholder="catogry" [formControl]="proudctForm.get('catogry')" />
      </mat-form-field>
      <mat-form-field class="controls">
        <input matInput type="number" min="1" name="quantity" placeholder="quantity"
          [formControl]="proudctForm.get('quantity')" />
      </mat-form-field>
      <input type="file" name="avatar" #avatarFile />
      <button mat-raised-button color="primary" type="submit" [disabled]="!proudctForm.valid">
        <mat-icon>add_circle</mat-icon>
        create
      </button>
    </mat-card>
  </div>
</form>
<div class="flex-width album py-5 bg-light  ">
  <div class="box-shadow" *ngFor="let product of products; let i = index;">
    
      <div class="card mb-4 ">
        <div class="pic-container">
            <img class="card-img-top pic-width" src="data:image/jpeg;base64,{{product.pic}}" alt="product image">
        </div>
        <!-- <img class="card-img-top" data-src={{product.pic}} alt="product image"> -->
        <div class="card-body">
          <p>{{product.name}}</p>
          <p class="card-text">Description: {{product.description}}</p>
          <p class="card-text"></p>
          <p class="card-text">Price: {{product.price}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" (click)="deleteProduct(i)" mat-raised-button color="accent">
                <mat-icon>error</mat-icon> remove
              </button>
            </div>
            <button mat-raised-button (click)="decreaseQuantity(i)" [disabled]="product.quantity<=1">
              <mat-icon>exposure_neg_1</mat-icon>
            </button>
            <small class="text-muted">{{product.quantity}} in stock</small>
            <button mat-raised-button (click)="increaseQuantity(i)">
              <mat-icon>exposure_plus_1</mat-icon>
            </button>
          
        </div>
      </div>
    </div>
  </div>
</div>
