<div class="album py-5 bg-light flex-width " >
    <div class="box-shadow" *ngFor="let order of orders; let i = index;">
          <div class="card mb-4">
            <div class="card-body">
              <p>Order Date: {{order.oderdingDate}}</p>
              <p class="card-text">Delivery Date: {{order.deliveryDate}}</p>
              <p class="card-text">Quantity: {{order.quantity}}</p>
              <p class="card-text">Unit Price: {{order.price}}</p>
              <p class="card-text">Total Price: {{order.totalPrice}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{order.quantity}} in stock</small>
              </div>
              <mat-form-field appearance="fill" >
                <mat-label>Change the Status</mat-label>
                <mat-select  [(value)]="order.status" required  (selectionChange)="changeStatus($event, i)" [disabled]="order.status == complete">
                  <mat-option value="Pending">Pending</mat-option>
                  <mat-option value="Ready">Ready</mat-option>
                  <mat-option value="Complete">Complete</mat-option>
                </mat-select>
              </mat-form-field>              
            </div>
          </div>
    </div>
  </div>