mat-form-field{
    margin: 20px;
}
.box{
    background: #28a744;
    width: 170px;
    padding: 20px;
    box-shadow: 10px 10px 5px grey;
    color: white;
}

.box-shadow{
    box-shadow: 5px 5px 5px grey;
    margin: 15px;
}
.flex-width{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}