<div *ngFor="let product of products; let i = index;">
    <div class="box-shadow card-width" >
          <div class="card mb-4 card-holder" *ngIf="product.quantity>=1">
        
            
            <div class="card-body">
              <p class="card-text">{{product.name}}</p>
              <p class="card-text">description {{product.description}}</p>
              <p class="card-text"></p>
              <p class="card-text">price {{product.price}}</p>
              <small class="text-muted">{{product.quantity}} in stock</small>
              <div class="d-flex justify-content-between align-items-center">
                  <button mat-raised-button type="button" (click)="addProductToCart(i)"><mat-icon>add_shopping_cart</mat-icon>add to cart</button>
              </div>
            </div>
            <div class="pic-container">
              <img class="card-img-top pic-width" src="data:image/jpeg;base64,{{product.pic}}" alt="product image">
          </div>
      </div>
    </div>
    
  </div>
  