.box-shadow{
    box-shadow: 5px 5px 5px grey;
    margin: 15px;

}
.flex-width{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.margin-down{
    margin-bottom: 10px;
}
.pic-width{
    width: 200px;
    height: 200px;
    margin: auto;
}
.pic-container{
    text-align: center;
    
}
.card-holder{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}